on post-fs
    mount none /system/lib/power.sprd.so /vendor/lib/power.sprd.so bind
    mount none /system/lib64/power.sprd.so /vendor/lib64/power.sprd.so bind

on boot
    stop console

    chown system system /sys/devices/platform/soc/soc:ap-apb/70800000.i2c/i2c-3/3-0038/fts_gesture_mode
    chmod 0660 /sys/devices/platform/soc/soc:ap-apb/70800000.i2c/i2c-3/3-0038/fts_gesture_mode
